.poker_table
  - if Advertisement.last.present?
    %ul.sponsor-list
      %li.sponsor-item= image_tag 'https://www.dropbox.com/s/1uu9cogu5kfgmbh/Screenshot%202015-04-22%2018.55.16.png', class: 'sponsor-image'
      %li.sponsor-item= image_tag 'https://www.dropbox.com/s/00nhxbkk0wp8blk/Screenshot%202015-04-22%2018.55.54.png', class: 'sponsor-image second-sponsor-image'
  = render partial: 'opponents'
  = render partial: 'community_information'
  = render partial: 'user'
