.poker_table
  - if Advertisement.last.present?
    %ul.sponsor-list
      %li.sponsor-item= image_tag 'http://i.imgur.com/UlG119K.png', class: 'sponsor-image'
      %li.sponsor-item= image_tag 'http://i.imgur.com/cyAwDoX.png', class: 'sponsor-image second-sponsor-image'
  = render partial: 'opponents'
  = render partial: 'community_information'
  = render partial: 'user'
