!!!
%html
  %head
    %title= "Poker"
    = stylesheet_link_tag "application", media: 'all'
    = javascript_include_tag "application"
    = csrf_meta_tag
    = yield(:head)
  %body
    .navbar.navbar-default
      .container-fluid
        .navbar-header
          %strong{:class => "navbar-brand"}= link_to 'Brains vs. Artificial Intelligence', root_path
        %ul{:class => "nav navbar-nav navbar-right"}
          - if current_user
            %li{:class => "user"}
              %a <i class='icon-user'></i> #{user.name}
            %li
              = link_to 'Logout', destroy_user_session_path, method: :delete
            %li
              - if current_user.admin
                = link_to 'Invite', new_user_invitation_path
            = yield(:nav_list)
          - else

    .container
      //%p.notice= notice
      %p.alert= alert
      .app
        = yield
