!!!
%html
  %head
    %title= ApplicationHelper::APP_NAME
    = stylesheet_link_tag "application", media: 'all'
    = javascript_include_tag "application"
    = csrf_meta_tag
    = yield(:head)
  %body
    .navbar.navbar-default
      .container-fluid
        .navbar-header
          %strong{:class => "navbar-brand"} Poker
        %ul{:class => "nav navbar-nav navbar-right"}
          - if current_user
            %li{:class => "user"}
              %a <i class='icon-user'></i> #{user.name}
            %li
              = link_to 'Logout', destroy_user_session_path, method: :delete
          - else


    .container
      //%p.notice= notice
      %p.alert= alert
      .app
        = yield
